/*********************************************************************** Global Stylesheet for the Website ***********************************************************************/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*********** Martius Font ***********/

@font-face {
    font-family: 'Martius';
    src: url('./fonts/Martius.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*********** Kangu Font ***********/

@font-face {
    font-family: 'Kangu';
    src: url('./fonts/Kangu DEMO.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
    --white: #fff;
    --black: #000;
    --khaki: #F0E68C;
}

body {
    animation: none;
    color: var(--black);
    scroll-behavior: smooth;
    background-color: var(--white);
}

.home-page {
    animation: fadeInEffect 1.4s ease;
}

@keyframes fadeInEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/*********************************************************************** Navigation Bar ***********************************************************************/

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0 2rem;
    width: 100%;
    max-height: 15%;
    top: 0;
    position: sticky;
    background-color: var(--white);
    z-index: 1000;
    color: var(--black);
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

.navbar-logo {
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--black);
    text-decoration: none;
}

.logo-img {
    height: 3.6rem; 
    width: auto; 
    display: block;
}

.navbar-links {
    display: flex;
    justify-content: center;
    flex: 1;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar-links li {
    margin: 0 1rem;
}

.nav-link {
    font-size: 14px;
    color: var(--black);
    text-decoration: none;
    position: relative;
    transition: color 0.4s ease-in-out;
}

.nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 4px;
    background-color: var(--khaki);
    transition: width 0.4s ease;
}

.nav-link:hover::after,
.nav-link.active::after {
    width: 100%;
}

.navbar-toggler {
    outline: none;
    border: 1px solid var(--black);
    box-shadow: none;
}

.navbar-toggler:focus,
.navbar-toggler:active {
    outline: none;
    border: 1px solid var(--black);
    box-shadow: none;
}

.collapse.show {
    background-color: var(--white);
}

.collapse .nav-link {
    display: block; 
    color: var(--black);
    text-decoration: none;
    transition: .7s ease;
}

/*********************************************************************** Main Section ***********************************************************************/